/*********************************************TAGS******************************************************************8*/
html{
    margin:0;
    padding:0
}
body {
    font-family: 'PT Serif', serif;
    text-align: center;
    margin:0;
    padding:0;
    height: 100%;
}

p {
    font-family: 'PT Serif', serif;
}

i{
    color:rgb(78, 77, 77)
}

li{
    list-style-type: none;
}

a:hover{
    text-decoration: none;
}

.nav-link {
    color: #fff;
    font-size:1.2rem;
}

.nav-link:hover {
    color:#000;}


.navlist{
    padding-right: 2rem;
}

.navlist li{
    padding-left: 1rem;
}

.navbar {
    padding-bottom: 1rem;
    color: #fff;
    background-color:rgb(10, 10, 10);
    z-index:1200;
    position: fixed;
    top:0;
    width:100% 
}
.navbar-brand {
    font-family: 'PT Serif', serif;
    font-size: 40px;
    padding-left: 1.6rem;
}

.navbar-toggler{
    font-size: 2rem;
    border: white;
    font-weight: 800;
}


.projects{
    padding-top:50px ; 
}

.projects .container{
    margin-left: 60px;
    margin-right: 10px;
}
.proj{
    padding-top: 3%;
    padding-bottom: 5%;
}

.projects .row{
    margin-bottom:80px;
    margin-top: 60px;
}

.projects .col-md-6-sm-12{
    margin-left: 25px;
    margin-right: 25px;
}

.projname{
   font-weight: 800;
   font-size: 1.6rem;
}

.image img{
    height: 400px;
    width: 550px;
    box-shadow: 2px 2px 2px 5px rgb(226, 225, 225);
    transition: all 0.5s ease-in-out;
    margin-bottom: 10px;
}

.image img:hover{
    transform: scale(1.1);
}

.main{
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.buttons button{
 height: 40px;
 width: 150px;
 border: none;
 border-radius: 10px;
 font-size: 1rem;
 margin-right: 5px;
 margin-left: 5px;
}

.bt1{
    background-color:#ffb553 ;
    color: black
}

.bt2{
    color: #fff;
    background-color: #6c757d;
}
.bt1:hover{
    background-color: #000;
    color: #fff;
}

.bt2:hover{
    background-color: black;
}

.row {
  justify-content: center;
}
.content p{
    text-align: left;
    margin-top: 20px;
}

.proitem{
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 60%;
    border-radius: 10px;
    align-items: center;
    height:500px;
    
}

.carousel-control-prev-icon{
    width: 50px;
    height: 50px;
   }


.carousel-control-next-icon{
    width: 50px;
    height: 50px;
  
}



.icon2{
    color:rgb(78, 77, 77);
    margin-left: 6px;
}

.icon1{
    color:black;
    margin-right: 6px;
}

.icon1:hover{
    color:rgb(78, 77, 77) ;
}

.icon2:hover{
    color:black;
}


.experience {
 padding-top: 50px;
 padding-bottom: 60px;
}

.experience p{
    font-size: 1.2rem;
}

.experience .buttons{
    justify-content: center;
}

.intro{
    position: relative;
    width:100%;  
    padding-top: 250px;
    color:whitesmoke;
    padding-bottom: 250px;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro::before {    
      content: "";
      background-image: url('https://blogs.biomedcentral.com/bmcblog/wp-content/uploads/sites/7/2020/05/work-731198_1920.jpg');
      background-size: cover;
      position: absolute;
      top: 0px;
 
      right: 0px;
      bottom: 0px;
      left: 0px;
}

.intro h1,h3,h6 {
  position: relative;  
}

.intro h1{
    font-size: 3rem;
    font-weight: 800;
}

.intro h3{
    font-size: 2rem;
    font-weight: 650;
}

.intro h6{
    font-size: 1.5rem;
    font-weight: 550;
}



.aboutme{
    padding-top:40px ;
    font-size: 1rem;
    text-align: center;
    padding-bottom:10px;
}


.tech{
    padding-top: 50px;
    background-color: rgb(173, 171, 171);
    padding-bottom: 80px;
    color:black
}

.tech li{
    color:rgb(58, 57, 57)
}

.contact{
    padding-top: 30px;
    background-color:#ffb338;
    padding-bottom: 20px;
}

.contact p{
    font-size: 1rem;
}

.container{
    text-align: center;
    width: 100%;
}

.card{
    border: none;
    box-shadow: 4px 3px 2px 3px rgb(240, 237, 237);
    z-index: 30;
    height: 100%;
    border-radius: 3%;
    transition:all 1s ease-in-out ;
}

.tech .container{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.card:hover{
    transform:scale(1.2);
    box-shadow:8px 7px 2px 6px rgb(240, 237, 237);
    z-index: 100;
}
*/


.card li{
    font-size: 1rem;
}

.card-title{
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: 10px;
}

h4{
    padding-right: 3%;
    color:black;
    font-weight: 900;
    font-size: 2rem;
}

.footer{
    background-color:#ffb338
}


@media screen and (max-width:740px) {
    .aboutme{
        padding-left: 15px;
        padding-right: 15px;
    }
    .experience{
        padding-left: 15px;
        padding-right: 15px;   
    }
}

